.listview_img 
{
    position:relative;
    top:0;
    bottom:0;
    margin:auto;
    padding-left:10px;
    padding-right:-20px;
}

.wrap {
    white-space: normal !important;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}